﻿@model List<Facade.Story>

@{
    ViewBag.Title = "Hikayeler";
}

<h3>Hikayeler</h3>
<p>
    @Html.ActionLink("Hikaye Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Başlık
        </th>
        <th>
            Oluşturulma tarihi
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @{
                    if (item.IsConfirmed.Value)
                    {
                        <a href="~/Story/Unconfirm/@item.Id">Arşivle</a>
                    }
                    else
                    {
                        <a href="~/Story/Confirm/@item.Id">Arşivden Kaldır</a>
                    }
                }
            </td>
            <td>
                <a href="~/News/Details/@item.Id"><span class="glyphicon glyphicon-cog"></span></a>
            </td>
        </tr>
    }
</table>
