﻿@using Dto
@model SlidePhotoList
@{
    ViewBag.Title = "Slayt Fotoğrafı Ekle";
}

<h3>Slayt Fotoğrafları <small>Ekle</small></h3>

@using (Html.BeginForm("Create", "SlidePhoto", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label for="foto">Resim</label>
        <input type="file" class="form-control" name="image" id="image" accept="image/gif, image/jpeg, image/png" />
        @Html.ValidationMessage("ImageValidationError")
    </div>
            <div class="form-group">
                <div class="btn-group">
                    <input type="submit" class="btn btn-default" value="Ekle" />
                    <a href="~/SlidePhoto/Index" class="btn btn-default">İptal</a>
                </div>
            </div>
}
