﻿@model List<Dto.NewsList>

@{
    ViewBag.Title = "Haberler";
}

<h3>Haberler</h3>
<p>
    @Html.ActionLink("Haber Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Resim
        </th>
        <th>
            Başlık
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="col-sm-4">
                <img src="@Url.Content(item.ImageUrl)" class="img-responsive img-thumbnail" style="max-width:150px;max-height:150px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @{
                    if (item.IsActive.HasValue && item.IsActive == true)
                    {
                        <a href="~/News/Active/@item.Id"><span class="glyphicon glyphicon-remove-circle"></span> Pasifleştir</a>
                    }
                    else
                    {
                        <a href="~/News/Active/@item.Id"><span class="glyphicon glyphicon-ok-circle"></span> Aktifleştir</a>
                    }
                }
            </td>
            <td>
                <a href="~/News/Order/@item.Id?isDown=false"><span class="glyphicon glyphicon-arrow-up"></span></a>
            </td>
            <td>
                <a href="~/News/Order/@item.Id?isDown=true"><span class="glyphicon glyphicon-arrow-down"></span></a>
            </td>
            <td>
                <a href="~/News/Details/@item.Id"><span class="glyphicon glyphicon-cog"></span></a>
            </td>
            <td>
                <a href="~/News/Delete/@item.Id" onclick="return confirm('Silmek istediğinize emin misiniz?');"><span class="glyphicon glyphicon-remove"></span></a>
                @Html.ActionLink("Sil", "Delete", new { id = item.Id }, new { onclick = "return confirm('Silmek istediğinize emin misiniz?');" })
            </td>
        </tr>
                    }

</table>
