﻿@model Dto.PageList
@{
    ViewBag.Title = "";
    ViewBag.Active = "AboutUs";
}
<div class="container main-content">
    <div class="col-md-9 articles">
        <div class="aboutUs-page">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('.aboutUs').addClass('active');
    </script>
}