﻿@model Facade.Contact
@{
    ViewBag.Title = "";
    ViewBag.Active = "Contact";
}
@using ChainOfStories.Resource
<div class="container main-content">
    <div class="row">
        <div class="col-md-9">
                <h2>@Resource.Iletisim</h2>
                <div class="col-sm-7">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3088.9832890451976!2d30.36872757234132!3d40.76008678595376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccb2edb7804717%3A0xede3ed1bf35828ba!2sSafranc%C4%B1k+Sk.+No%3A28%2C+Bah%C3%A7elievler%2C+54050+Serdivan%2FSakarya!5e1!3m2!1str!2str!4v1451254268974" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-sm-5">
                    <h3>ContactInfo</h3>
                    <adress>
                        <p>@Resource.Adres: İstiklal Mah. Safrancık Cad. No:28 Daire:15 Serdivan/Sakarya</p>
                        <p>Tel: +90(534) 338 14 64</p>
                        <p>Fax: +90(534) 928 64 88</p><br />
                    </adress>
                    <h3>@Resource.iletisimform</h3>
                    <form class="form-horizontal" role="form" action="/Index/CreateContact">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Resource.tamad</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" name="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Resource.baslik</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="subject" id="subject" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">@Resource.mesaj</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="message" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" class="btn btn-default col-xs-12 send">@Resource.gonder</button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('.contact').addClass('active');
    </script>
}
