﻿@using ChainOfStories.Resource
@{
    ViewBag.Title = "Index";
}
<section id="featured">
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Slider -->
                <div id="main-slider" class="flexslider">
                    <ul class="slides">
                        @foreach (Dto.SlidePhotoList item in ViewBag.Slide)
                        {
                            <li>
                                <img src="@Url.Content(item.ImageUrl)" alt="" />
                            </li>
                        }
                    </ul>
                </div>
                <!-- end slider -->
            </div>
        </div>
    </div>



</section>
@*<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2><span>Moderna</span> HTML Business Template</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    @foreach (Dto.NewsList item in ViewBag.News)
                    {
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>@item.Title</h4>
                                    <div class="icon">
                                        <i class="fa fa-desktop fa-3x"></i>
                                    </div>
                                    <p>
                                        @Html.Raw(item.ShortDescription)
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="~/Home/NewsDetails/@item.LocaleId">@Resource.LearnMore</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->

    </div>
</section>
@section Scripts{
    <script>
        $('.index').addClass('active');
    </script>
}