﻿@using ChainOfStories.Resource
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Login</h2>
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    <label for="userName">@Resource.Kullaniciadi</label>
                    @Html.TextBox("userName", null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="passWord">@Resource.Sifre</label>
                    @Html.TextBox("passWord", null, new { @class = "form-control", type = "password" })
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Giriş Yap" />
                    @Html.ActionLink(Resource.Uyeol, "Register","Home", new { @class = "pull-right" })
                </div>
            }
        </div>
    </div>
</div>

