﻿@model Facade.Story
@{
    ViewBag.Title = "Story";
    List<Facade.Writer> writers = ViewBag.Writers;
    List<Facade.Chain> chains = ViewBag.Chains;
    bool write = ViewBag.Write;
}

<div id="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>@Model.Title</h2>
                <div class="col-sm-8">
                    @foreach (var item in chains)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                @item.Text
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-sm-12">
                            @if (write)
                            {
                                using (Html.BeginForm("Write","Home",FormMethod.Post))
                                {
                                    <input type="hidden" value="@Model.Id" name="storyId" />
                                    <textarea id="text" class="form-control" name="text"></textarea>
                                    <input type="submit" value="Gönder" class="btn btn-default" />
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    @foreach (var item in writers)
                    {
                        <div class="row">
                            @{
                                if (item.Id == ViewBag.CurrentWriter && !Model.IsFinished.Value)
                                {
                                    <div style="color:red;">
                                        @item.UserName
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        @item.UserName
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
