﻿@model Facade.Contact

@{
    ViewBag.Title = "Mesajlar Detay";
}

<h2>Detaylar</h2>

<table class="table">
    <tr>
        <th>
            Ad-Soyad
        </th>
        <th>
            E-posta
        </th>
        <th>
            Konu
        </th>
        <th>
            Mesaj
        </th>
    </tr>
    <tr>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Email
        </td>
        <td>
            @Model.Subject
        </td>
        <td>
            @Model.Message
        </td>
    </tr>
</table>
@Html.ActionLink("Listeye Dön", "Index")